{% include './MenuList.html' with menu="co" %}

{% block content %}
<div class="col-sm-offset-9">

<a type="button" class="btn btn-primary" href="{% url 'update_cart' %}">Cancel Order</a>
</div>

<h3>Cart Items</h3>

  <div class="container horizontal-scrollable"> 
    <div class="row text-center"> 
     
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Item code</th>
            <th>Item name</th>              
            <th>Order Quantity</th>
            <th>Price per Item</th>
            <th>Date</th>
            <th>Inventory Group</th>
            <th>Order Price</th>
      
        
          </tr>
        </thead>
        <tbody>
          {% if cart %}

              {% for item in cart %}
              
         <tr class="edit_order">
          <td>{{ item.item_code}} </td>
          <td>{{ item.name}} </td>            
          <td>
            {{ item.order_quantity}}
          </td>
          <td>{{ item.item_price}} </td>
          <td>{{ item.date}}</td>
          <td>{{ item.item_group}} </td>
          <td>{{ item.order_price }} </td>
          

        </tr>
              {% endfor %}    
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><h3>Net Total :</h3></td>
          <td><h1>{{ total }}</h1></td>
          

        </tr>
        {% endif %}

        </tbody>
      </table>
      



      <br><br><br>
      <h3>Customer Details </h3>
  

   <form class="form-horizontal" action="{% url 'cart_checkout' %}" method="POST">
    {% csrf_token %}

  <br>
  <div class="form-group">
  <label class="control-label col-sm-2" >Customer mobile # * :</label>
  <div class="col-xs-6">
    <input type="number" class="form-control input-default " id="mobile" name="mobile" placeholder="Enter mobile number  "required="required" >
  </div>
  </div>
  
  <div class="form-group">
    <label class="control-label col-sm-2" >Customer name :</label>
    <div class="col-xs-6">
      <input type="text" class="form-control input-default" id="name" name="name" placeholder="Enter Customer  name " required="required" >
    </div>        
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" >Customer mail id :</label>
        <div class="col-xs-6">
          <input type="text" class="form-control input-default" id="mail" name="mail"  placeholder="Enter Customer mail id  " >
        </div>        
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" >Customer address :</label>
            <div class="col-xs-6">
              <textarea  class="form-control input-default" rows="5" id="address" name="address" placeholder="Enter Customer address " ></textarea>
            </div>        
            </div>

  <div class="form-group">        
  <div class="col-sm-offset-2 col-sm-10">
  
      <button type="submit" class="btn btn-primary"   {% if not cart %} disabled {% endif %}   >Confirm Order</button>

    </div>
  </div>
  
  </form>
  
      </div></div>





      <br><br><br><br>

      {% endblock %}
